.scroll-pane{
   -fx-background-color:transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
  visibility: hidden;
}

.scroll-bar:vertical .track {
  visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}